.row {
	margin-bottom:20px;
}

#images-container img {
	width:400px;
	height:400px;
}

#images-container .card {
	margin-left: 20px;
	margin-right: 20px;
}

#recipes-container .card {
	margin-left: 20px;
	margin-right: 20px;
	width:200px;
}