.recipes-container {
  padding: 2rem 0;

  h1 {
    color: #333;
    margin-bottom: 2rem;
  }

  #recipe-search {
    min-height: 2.75rem;
  }
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

@media (max-width: 768px) {
  .recipe-grid {
    grid-template-columns: 1fr;
  }
}
