<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recipe</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/recipe-suggestor.css" rel="stylesheet" media="">
  </head>

  <body>

    <script src="../js/jquery.js" ></script>
    <script src="../js/popper.min.js" ></script>
    <script src="../js/underscore.js" ></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="../js/jquery.csv.min.js" ></script>
    <script src="../js/recipe.js"></script>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="./">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./suggest.html">Suggest</a>
      </li>
    </ul>
  </div>
</nav>


    <h1 id="recipe-name"></h1>

    <div class="container container-md">
      <div class="row" id="images-container">
         
         
        </div>
    </div>

    <div id="ingredients-container" class="container container-md">
    <table id="ingredients-table" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">
            Name
          </th>
          <th scope="col">
            Amount
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </div>

    <div id="description-container" class=" container container-md">
    </div>


	</body>


<script type="text/template" id="ingredients-template">
        <tr>
          <td>
            <%= Name %>
          </td>
          <td>
            <%= Amount %>
          </td>
        </tr>
      </script>

<script type="text/template" id="image-template">
<div class='card mb-4 box-shadow'>
  <div class='card-body'>
    <img class="recipe-image" src='<%= image %>'>
  </div>
</div>
      </script>

<!-- The Modal -->
<div id="img-modal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="modal-image">
</div>


</html>