<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recipe</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/recipe-suggestor.css" rel="stylesheet" media="">
  </head>

  <body>

    <script src="../js/jquery.js" ></script>
    <script src="../js/popper.min.js" ></script>
    <script src="../js/underscore.js" ></script>
    <script src="../js/jquery.csv.min.js" ></script>
    <script src="../js/recipe.js"></script>


    <h1 id="recipe-name"></h1>

    <div class="container container-md">
      <div class="row" id="images-container">
         
         
        </div>
    </div>

    <div id="ingredients-container" class="container container-md">
    <table id="ingredients-table" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">
            Name
          </th>
          <th scope="col">
            Amount
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </div>

    <div id="description-container" class=" container container-md">
    </div>


	</body>


<script type="text/template" id="ingredients-template">
        <tr>
          <td>
            <%= Name %>
          </td>
          <td>
            <%= Amount %>
          </td>
        </tr>
      </script>

</html>